@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import 'react-responsive-modal/styles.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.wm-card {
		@apply wm-bg-white wm-p-4 wm-rounded-md wm-drop-shadow-sm;
	}

	.wm-button-primary {
		@apply wm-bg-indigo-600 wm-px-4 wm-py-2 wm-text-white wm-rounded-md wm-shadow-md wm-transition wm-font-semibold wm-duration-100 wm-ease-in-out hover:wm-bg-indigo-700 focus:wm-bg-indigo-700;
	}

	.wm-button-outline {
		@apply wm-bg-white wm-px-4 wm-py-2 wm-text-indigo-600 wm-rounded-md wm-border-2 wm-border-indigo-600 wm-font-semibold wm-transition wm-duration-100 wm-ease-in-out hover:wm-text-white hover:wm-bg-indigo-700 focus:wm-bg-indigo-700 focus:wm-text-white;
	}

	.wm-transition-eo {
		@apply wm-transition-all wm-duration-100 wm-ease-in-out;
	}

	.wm-disabled {
		@apply wm-opacity-50 wm-cursor-not-allowed;
	}
}

#we-meal-app {
	@apply wm-text-gray-900;

	font-family: 'Poppins', sans-serif;
}

#wpcontent {
	padding-left: 0;

	@media screen and (max-width: 782px) {
		padding-left: 0 !important;
	}
}

input[type=text]:focus {
	box-shadow: 0 0 0 1px transparent;
}
